.container {
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

img.responsive-img {
    max-width: 100%;
    height: auto;
}

.current {
    padding: 1rem 1.5rem;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    box-shadow: 2px 2px 4px $dark-color;
    transition: background-color 0.4s;

    &:hover {
        background-color: darken($primary-color, 10%);
        color: set-text-color(darken($primary-color, 10%));

    }
}

.rounded {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}


// DISPLAYS

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

// BUTTONS
%btn-share {
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 8px 1.6rem;
    font-size: 2rem;
    transition: background-color 0.4s;
    border-radius: 4px;
}

@mixin btn-mixin($bg-color) {
    background-color: $bg-color;
    color: set-text-color($bg-color);

    &:hover {
        background-color: set-hover-effect($bg-color);
    }
}

.btn {
    @extend %btn-share;

    // dark
    &-dark {
        @include btn-mixin($dark-color)
    }

    // light
    &-light {
        @include btn-mixin($light-color)
    }

    //primary
    &-primary {
        @include btn-mixin($primary-color)
    }

    //secondary
    &-secondary {
        @include btn-mixin($secondary-color)
    }

    //main
    &-main {
        background-color: $main-color;
        color: set-text-color($main-color);

        &:hover {
            background-color: set-hover-effect($main-color);
        }
    }

    // Sizes
    &-lg {
        padding: 1.3rem 4rem;
        font-size: 2.2rem;
    }

    &-sm {
        padding: 5px 1.2rem;

    }

}


// BACKGROUND
@mixin bg-mixin($bg-color) {
    background-color: $bg-color;
    color: set-text-color($bg-color);
}

.bg-dark {
    @include bg-mixin($dark-color)
}

.bg-light {
    @include bg-mixin($light-color)
}

.bg-main {
    @include bg-mixin($main-color)
}

.bg-primary {
    @include bg-mixin($primary-color)
}

.bg-secondary {
    @include bg-mixin($secondary-color)
}

.bg-semi-dark {
    @include bg-mixin(lighten($dark-color, 7%))
}

// COLORS
.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.text-white {
    color: #fff;
}

.dull-text {
    color: darken($light-color, 30%);
}

// Typography
.lead {
    font-size: 2rem;
    line-height: 1.6;
}

// Fonts
.italic {
    font-style: italic;
}

// Headings
$weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);

.xl-heading {
    font-size: 7rem;

    @each $weight in $weights {
        &-#{$weight} {
            font-weight: #{$weight};
        }
    }

}

.l-heading {
    font-size: 5rem;

    @each $weight in $weights {
        &-#{$weight} {
            font-weight: #{$weight};
        }
    }

}

.m-heading {
    font-size: 2.5rem;

    @each $weight in $weights {
        &-#{$weight} {
            font-weight: #{$weight};
        }
    }

}

.s-heading {
    font-size: 1.8rem;

    @each $weight in $weights {
        &-#{$weight} {
            font-weight: #{$weight};
        }
    }
}



// MARGINS AND PADDINGS

$spaces: (1, 2, 3, 4, 5, 6);

@each $space in $spaces {

    // Margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    .my-#{$space} {
        margin-top: #{$space}rem;
        margin-bottom: #{$space}rem;
    }

    .mx-#{$space} {
        margin-left: #{$space}rem;
        margin-right: #{$space}rem;
    }

    .ml-#{$space} {
        margin-left: #{$space}rem;
    }

    .mr-#{$space} {
        margin-right: #{$space}rem;
    }

    .mt-#{$space} {
        margin-top: #{$space}rem;
    }

    .mb-#{$space} {
        margin-bottom: #{$space}rem;
    }

    // Auto spacing
    // margin
    .mr-auto {
        margin-right: auto;
    }

    .ml-auto {
        margin-left: auto;
    }

    // padding
    .pr-auto {
        padding-right: auto;
    }

    .pl-auto {
        padding-left: auto;
    }




    // Padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    .py-#{$space} {
        padding-top: #{$space}rem;
        padding-bottom: #{$space}rem;
    }

    .px-#{$space} {
        padding-left: #{$space}rem;
        padding-right: #{$space}rem;
    }

    .pl-#{$space} {
        padding-left: #{$space}rem;
    }

    .pr-#{$space} {
        padding-right: #{$space}rem;
    }

    .pt-#{$space} {
        padding-top: #{$space}rem;
    }

    .pb-#{$space} {
        padding-bottom: #{$space}rem;
    }

}