@import "config";
@import "reset";
@import "utilities";


// HEADER
#main-header {
    #navbar {

        // SECTION-ONE OF NAVBAR
        .section-one {
            background-color: lighten($dark-color, 5%);
            color: set-text-color(lighten($dark-color, 5%));
        }

        .section-one-wrap {
            height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;



            ul {
                display: flex;
            }

            li:not(:first-child) {
                margin-left: 1.5rem;
            }

            a {
                color: $light-color;
                font-size: 1.2rem;

                &:hover {
                    color: $primary-color;
                    transition: color 0.4s;
                }
            }
        }

        // SECTION-TWO OF NAVBAR
        .section-two-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10rem;

            a {
                color: $light-color;

                &:hover:not(.current) {
                    color: $secondary-color;
                    transition: color 0.4s;
                }
            }

            // logo
            .logo {
                font-size: 2.5rem;

                .sm-txt {
                    text-transform: uppercase;
                    font-size: 1rem;
                    letter-spacing: 3px;
                    font-weight: 100;
                }
            }

            //links
            .links>li {
                display: inline-block;

                & {
                    margin-right: 2.5rem;
                }
            }

            // dropdown links
            .dropdown {
                position: relative;


                &:hover>.dropdown-links {

                    opacity: 1;
                    display: block;
                }

                .dropdown-pointer {
                    &:hover {
                        color: $light-color;
                    }
                }
            }

            .dropdown-links {

                display: none;
                position: absolute;
                left: 0;
                min-width: 15rem;
                padding: 1rem 2rem;
                z-index: 1;
                margin-top: 1px;

                li {
                    margin: 1rem 0;
                }
            }


        }
    }

    // Showcase
    #showcase {
        height: 80vh;
        background: $dark-color;
        color: set-text-color($dark-color);
        position: relative;
        opacity: 0.9;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../img/showcase4.jpg') no-repeat center top/cover;
            z-index: -1;
        }

        .showcase-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 10%;
        }
    }

}


// Twitter section
#twitter {
    background-color: darken($primary-color, 15%);
    color: $primary-color;

    .twitter-container {
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .icon-container {
        display: flex;

        p {
            margin-left: 5rem;
        }

        i {
            color: darken($primary-color, 15%);
        }
    }

    .btn-container {
        border-left: 1px solid $primary-color;
        height: 100%;
        display: flex;
        align-items: center;
    }

}

// MAIN
#main {
    background-color: lighten($dark-color, 7%);
}

// PROGRAMS
#programs {
    .programs-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .program {

        position: relative;
        background-color: $primary-color;
        color: set-text-color($primary-color);
        border-radius: 5px;

        h2.m-heading {
            margin-left: 5px;
        }

        p {
            color: darken($light-color, 20%);
        }
    }
}

#news {
    .news-container {
        display: flex;
    }

    .main-news {
        flex: 2;
        border-right: 1px solid $primary-color;

        article {
            display: flex;
        }

        .article-text {
            flex: 2;
        }


        $images: (1, 2, 3);

        @each $image in $images {
            .img#{$image} {
                width: 100%;
                background: url("../img/image#{$image}.jpg") no-repeat center center/cover;
                border: 1px solid $light-color;
                flex: 1;
            }
        }

        p,
        .date {
            color: darken($light-color, 20%);
        }



    }

    .categories {
        flex: 1;
    }
}